body {
  background-color: #e9e9e9;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

#create-password {
  font-size: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #0D0D0D;
  color: #e9e9e9;
  font-weight: bolder;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#create-password:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#new-password {
  margin-top: 3%;
  font-size: 35px;
  background-color: #594D43;
  color: #e9e9e9;
  font-weight: bolder;
  padding: 25px;
  border-radius: 10px;
}